@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    height: 100svh;
    max-width: 100vw;
    overflow: hidden;
    letter-spacing: -0.2px;
    color: #2a2a2f;
  }

  main {
    overflow-y: auto;
  }

  main > * {
    max-width: 100%;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  h1 {
    @apply text-lg;
  }

  h2 {
    @apply text-[17px];
  }

  h1,
  h2,
  h3 {
    @apply font-semibold;
  }

  p {
    @apply text-sm;
  }
}

@layer utilities {
  button.common-button:active {
    scale: 0.98;
  }

  .without-focus {
    @apply focus-visible:outline-none focus-visible:ring-0 focus-visible:ring-offset-0;
  }
}
